### Node ###
node_modules/
package-lock.json
.yarn/
.yarnrc.yml
yarn.lock
yarn-error.log
.pnp.cjs
lerna-debug.log

### IPFS ###
.ipfs

### Build directory ###
build/
dist/

### VisualStudioCode ###
.vscode/

### Linux ###
*~

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# Storybook
storybook-static/
